nav {
    height: 4rem;
    padding: 0 1rem;
    border-bottom: 2px solid var(--border-color)
}

#nav-container {
    height: inherit;
    max-width: var(--max-width-page);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#nav-logo {
    width: 2.5rem;
    height: 2.5rem;
    color: var(--primary-color);
}

#nav-menu-btn-icon {
    width: 3rem;
    height: 3rem;
}

#nav-menu-btn{
    border: none;
    background-color: transparent;
    padding: 0 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.350rem;
    transition: all 0.1s ease-in-out;
}

#nav-menu-btn:hover{
    transform: scale(1.05);
}

#nav-menu-btn:active{
    transform: scale(1);
    background-color: var(--btm-bg-color);
    border:1px;
}

.nav-link{
    color: var(--text-color);
    text-decoration: none;
}

.nav-link:hover{
    text-decoration: underline;
}

#links-container{
    display: none;
    gap: 1rem;
}

#main{
    max-width: var(--max-width-page);
    margin: 0 auto;
    height: calc(100svh - 4rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
}

#main-desc-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 1rem;
}

#main-title{
    font-size: 3rem;
    color: var(--primary-color);
}

#main-desc-container{
    text-align: justify;
    color: var(--text);
}

#main-desc-btn{
    width: fit-content;
    align-self: center;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    font-weight: 700;
    border-radius: 0.325rem;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    transition: all 0.1s ease-in-out;
}

#main-desc-btn:hover{
    box-shadow: 0 0 10px var(--primary-color);
    transform: scale(1.05);
    border: 2.5px solid var(--primary-color);
   
}

#main-desc-btn:active{
    transform: scale(1);;
    background-color: var(--bg-color);
}




@media (min-width: 768px){
    #nav-menu-btn{
        display: none;
    }
    #links-container{
        display: flex;
    } 

    #main{
        flex-direction: row;
        width: 80%;
    }

    #main-title{
        font-size: 3.5rem;
    }

    #main-desc-container{
        width: 50%;
    }
}

@media (min-width: 1024px){
    #main-title{
        font-size: 5rem;
    }
    #main-desc-text{
        font-size: 1.2rem;
    }
    #main-desc-btn{
        font-size: 1.4rem;
    }
}





